{% extends 'base.html' %}

{% load static %}

{% block title %} REGISTER {% endblock title %}

{% block content %}

<div class="hero-wrap" style="background-image: url('https://images.unsplash.com/photo-1494003737182-261a02b7d198?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Register</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Register</h1>
        
          <!-- Notifications -->
          {% include 'partials/_alerts.html' %}
          <!-- End Notifications -->
        
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section-3 img" style="background-image: url(https://images.unsplash.com/photo-1518811829466-1372392d4544?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2865&q=80);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row d-md-flex">
      <div class="col-md-6 d-flex ftco-animate fadeInUp ftco-animated">
        <div class="img img-2 align-self-stretch" style="background-image: url(https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);"></div>
      </div>
      <div class="col-md-6 volunteer pl-md-5 ftco-animate fadeInUp ftco-animated">
        <h3 class="mb-3">Register</h3>
        <form action="{% url 'register' %}" class="volunter-form needs-validation" method="POST" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Your Username" autocomplete="off" required="">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Your Email" autocomplete="off" required>
          </div>
          <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Your Password" autocomplete="off" required>
          </div>
          <div class="form-group">
            <input name="password1" type="password" class="form-control" placeholder="Re-type Password" autocomplete="off" required>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-block btn-white py-3 px-5">Register</button>
          </div>
        </form>
        <div class="text-center mb-2">
          <span><strong>OR</strong></span>
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-block btn-white py-3 px-5">Login</a>
          </div>
      </div>          
      </div>
    </div>
  </section>

{% endblock content %}