* {
	font-family: 'Azeret Mono', monospace;
}

#css-zen-garden {
	background-color: #d9c3b4;
	margin: 0;
	color: #1a120d;
}

/*#zen-intro {
	background-image: url("0b95ad03a6674ddc906fec97413ffbe3.png");
	background-repeat: no-repeat;
	background-position: left top;
}*/

abbr[title = "Cascading Style Sheets"] {
	border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
	color: #de831b;
	text-shadow: 1px 1px 2px #000000
}

h1 {
    margin: auto;
    border-bottom: 3px solid #4f2706;
    background-color: #eae3d6;
    text-align: center;
}

h2 {
	margin-top: 5px;
    
    text-align: left;
}

.summary {
    background-color: #a27250;
    width: 300px;
    border-right: 3px solid #4f2706;
    border-bottom: 3px solid #4f2706;
    padding: 50px;
    position: relative;
    left: 0px;
}

.preamble p {
	background-color: #a27250;
    width: 300px;
    border-right: 3px solid #4f2706;
    border-bottom: 3px solid #4f2706;
    padding: 50px;
    display: block;
    position: relative;
    right: 0px;
}