{% extends 'base.html' %} 
{% load static %}
{% block title %} Edit Task {% endblock title %}
{% block content %}
{% include 'partials/_header.html' %}
<!-- Task Edit Form -->
<div id="task-form-block" >
	
	<form  action="{% url 'edit_task' task.id %}" class="mx-auto" style="max-width: 77%;" method="POST">
		{% csrf_token %}
		<div class="form-row">
		<div class="form-group col-md-4">
			<label for="inputTask">Title</label>
			<input type="textarea" class="form-control" id="title" name="title" value="{{task.title}}">
		
			<label for="formChoose">Priority</label>
			<select name="priority" id="priority" class="form-control">
				{% if task.priority == 'No priority' %}
					<option value="No priority" selected>No priority</option>
				{% else %}
					<option value="No priority">No priority</option>
				{% endif %}
				<option value="Low"{% if task.priority == 'Low' %} selected {% endif %}>Low</option>
				<option value="Medium"{% if task.priority == 'Medium' %} selected {% endif %}>Medium</option>
				<option value="High"{% if task.priority == 'High' %} selected {% endif %}>High</option>
			</select>
		</div>
		
		<div class="form-group col-md-6">
			<label for="descriptionOfTask">Task</label>
			<textarea class="form-control" name="description" id="description" rows="3" required> {{task.description}}</textarea> 
		</div>
		</div>
		<div class="col-12 row">
			<button class="btn btn-primary mr-2" type="submit">Edit Task</button>
			<a class="btn btn-secondary mr-2" href="{% url 'index' %}">Cancel</a>
		</div>
			
	</form>
</div>

<!-- End Task Form -->

{% endblock content %}
