{% extends 'base.html' %} 
{% load static %}
{% block title %} profile page {% endblock title %}
{% block content %}


<!-- Profile Form -->
<div class="container">            
	<table class="table table-borderless">
	<thead>
		<tr>
		<th>Profile</th>
		<th>{{user.get_username}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td>Full name:</td>
		<td>@{{ user.get_full_name }}</td>
		</tr>
		<tr>
		<td>Email:</td>
		<td>{{ user.email }}</td>
		</tr>
		<tr>
		<td>Register at:</td>
		<td>{{ user.date_joined }}</td>
		</tr>
		<tr class="table-warning">
		<td>Active tasks:</td>
		<td>{{ active_tasks }}</td>
		</tr>
		<tr class="table-success">
		<td>Completed tasks:</td>
		<td>{{ completed_tasks}}</td>
		</tr>
	</tbody>
	</table>
</div>

<!-- End Profile Form -->

{% endblock content %}