{% extends 'base.html' %} 
{% load static %}
{% block title %} profile page {% endblock title %}
{% block content %}
{% include 'partials/_header.html' %}

<!-- Login Form -->
<div id="login-form-block" class="col-4 ">
	<form >
		<div class="form-group">
		<label for="exampleInputEmail1">regestration form</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
		</div>
		<div class="form-group">				
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="e-mail">
		</div>
		<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="first name">
		</div>
		<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="last name">
		</div>
		<div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
		</div><div class="form-group">
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="repeat password">
		</div>
		
		
		
	</form>
	<button type="button" class="btn btn-primary btn-lg">registration</button>
	<button type="button" class="btn btn-dark ">login</button>
</div>
<!-- End Login Form -->

{% endblock content %}
