{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load profile_activity_tag %}

{% block title %} PROFILE {% endblock title %}

{% block content %}

<div class="hero-wrap" style="background-image: url('https://images.unsplash.com/photo-1612311533219-3687fcf1ee78?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2840&q=80');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Profile</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@{{ profile.user.username }}  <span class="text-warning">profile</span></h1>

          <!-- Notifications -->
          {% include 'partials/_alerts.html' %}
          <!-- End Notifications -->

        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="col-md-12 ftco-animate">

          <!-- Profile -->
          <div class="about-author d-flex p-5 bg-light">
            <div class="col-md-6 mr-5">
              <img src="{% thumbnail profile.profile_image 200x200 crop upscale %}" alt="Image placeholder" class="img-fluid mb-4">
              {% profile_activity_counter profile.user.username as data_counter %}
              <div class="meta mb-3">
                <div><span class="icon-calendar"></span> {{profile.user.date_joined}}</div>
                <div class="d-flex justify-content-start">
                   <div class="mr-3"><span class="icon-list"></span> {{data_counter.blogs_data}}</div>
                    <div class="mr-3"><span class="icon-chat"></span>  {{data_counter.comments_data}}</div>
                    <div class="mr-3"><span class="icon-heart"></span>  {{data_counter.likes_data}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h3>@{{ profile.user.username }}</h3>
              <p class="text-muted small">{{profile.status}}</p>
              <p>{{profile.about}}</p>
              <!-- <ul>
                <li>Firstname: Nick</li>
                <li>Lastname: Jones</li>
              </ul> -->
              <div class="sort-by">
                <li>Firstname: {{profile.user.first_name}}</li>
                <li>Lastname: {{profile.user.last_name}}</li>
                <li></li>
              </div>
              {% if user.id == profile.user.id %}
              <a href="{% url 'edit_user_profile' profile.user.username %}" class="btn btn-primary py-3 px-5">Edit profile</a>
              {% endif %}

            </div>
          </div>
          <!-- End Profile -->

          <!-- Single blog -->
          <h2 class="my-5">@username blogs</h2>
          
          <div class="row d-flex">
            {% for blog in blogs %}
            {% if blog.is_published %}
            <div class="col-md-4 d-flex ftco-animate">
              
              <div class="block-21 mb-4 d-flex">
                {% thumbnail blog.image 100x100 crop upscale as thumb %}
                <a class="blog-img mr-4" href="{% url 'single_blog' blog.author.user.username blog.slug %}"><img src="{{ thumb.url }}" alt="blog image" class="img-fluid"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'single_blog' blog.author.user.username blog.slug %}">{{blog.title}}</a></h3>
                  <div class="meta">
                    <div><span class="icon-person"></span> {{blog.author.user.username}}</div>
                    <div><span class="icon-calendar"></span>  {{ blog.created_at }}</div>
                  </div>
                  <div class="meta">
                    <div><span class="icon-chat"></span> {{ blog.comments.all.count }}</div>
                    <div><span class="icon-heart text-danger"></span> {{blog.likes|length}}</div>
                  </div>
                </div>
              </div>
              
            </div>
            {% elif blog.is_published == False and blog.author.user == request.user %}
            <div class="col-md-4 d-flex ftco-animate">
              
              <div class="block-21 mb-4 d-flex">
                {% thumbnail blog.image 100x100 crop upscale as thumb %}
                <a class="blog-img mr-4" href="{% url 'single_blog' blog.author.user.username blog.slug %}"><img src="{{ thumb.url }}" alt="blog image" class="img-fluid"></a>
                <div class="text">
                  <h3 class="heading" ><a href="{% url 'single_blog' blog.author.user.username blog.slug %}"><span class="text-warning">{{blog.title}}</span></a></h3>
                  <div class="meta">
                    <div><span class="icon-person"></span> {{blog.author.user.username}}</div>
                    <div><span class="icon-calendar"></span>  {{ blog.created_at }}</div>
                  </div>
                  <div class="meta">
                    <div><span class="icon-chat"></span> {{ blog.comments.all.count }}</div>
                    <div><span class="icon-heart text-danger"></span> {{blog.likes|length}}</div>
                  </div>
                </div>
              </div>
              
            </div>
            {% endif %}
            {% endfor %}
          </div>
          
          <!-- End Single blog -->

          <!-- Pagination -->
          {% if blogs %}
          
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  {% if blogs.has_previous %}
                  <li><a href="{% url 'get_user_profile' profile.user.username %}?page={{blogs.previous_page_number}}{{query_string}}">&lt;</a></li>
                  {% endif %}
                  {% for i in blogs.paginator.page_range %}
                  {% if blogs.number == i %}
                  <li class="active"><span>{{i}}</span></li>
                  {% else %}
                  <li><a href=" {% url 'get_user_profile' profile.user.username %}?page={{i}}{{query_string}} ">{{i}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if blogs.has_next %}
                  <li><a href="{% url 'get_user_profile' profile.user.username %}?page={{blogs.next_page_number}}{{query_string}}">&gt;</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- End Pagination -->
        </div> <!-- .col-md-12 -->
    </div> <!-- .conteiner -->
  </section> <!-- .section -->
{% endblock content %}