{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} Blog details {% endblock title %}
{% block content %}
<div class="hero-wrap" style="background-image: url(&quot;https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2850&amp;q=80&quot;); background-position: 50% -25px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center fadeInUp ftco-animated" data-scrollax=" properties: { translateY: '70%' }" style="transform: translateZ(0px) translateY(0%);">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 1; transform: translateZ(0px) translateY(0%);"><span class="mr-2"><a href="/">Home</a></span> <span>Blog Details</span></p>
          <h1 class="mb-3 bread text-warning" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 1; transform: translateZ(0px) translateY(0%);">Blog Details</h1>
          <div>
            

          </div>
        </div>
      </div>
    </div>
  </div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
          {% thumbnail blog.image 730x490 crop upscale as thumb %}
          <img src="{{thumb.url}}" alt="blog image" class="img-fluid mb-3">
          <h2 class="mb-3">{{blog.title}}</h2>
          <p>{{blog.text|linebreaks}}</p>
          {% if blog.author.user == request.user %}
          <div class="meta mb-3 ml-0 text-center">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <a href="{% url 'edit_blog' blog.author.user.username blog.slug  %}" class="btn btn-secondary btn-block">Edit</a>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
          {% endif %}        
          <p>{{blog.created_at}}</p>
          <div class="meta mb-3">
            <div><a href="#">Category: <span class="text-warning">{{blog.category}}</span></a></div>
          </div>
          {% if blog.tags.all %}
                <div class="meta">
                  <div>
                    <div class="tagcloud">
                      <span class="icon-tag"></span> Tags:
                      {% for tag in blog.tags.all %}
                      <a href="#" class="tag-cloud-link">{{tag.name}}</a>
                      {% endfor %}
                    </div>

                  </div>
                </div>
                {% endif %}
        {% if user.is_authenticated %}
          <!-- <div class="mb-3 mt-3">
            <a href="{# url 'add_or_remove_like_to_blog' blog.author.user.username blog.slug #}">
            <span class="icon-heart" style="cursor: pointer;"></span>
              <span id="numLikes">{{blog.likes|length}}</span>
            </a>
          </div> -->

          <div class="mb-3 mt-3">
            <span class="icon-heart" onclick="addOrRemoveLike({{blog.id}});" style="cursor: pointer;"></span>
              <span id="numLikes">{{blog.likes|length}}</span>
          </div>

        {% else %}
        
        <div class="mb-3 mt-3">
         
          <span class="icon-heart"></span>
            <span id="numLikes">{{blog.likes|length}}</span>

        </div>
          
        {% endif %}

          <div class="about-author d-flex p-5 bg-light">
            <div class="bio align-self-md-center mr-5">
              {% thumbnail blog.author.profile_image 100x100 crop upscale as p_thumb %}
              <img src="{{p_thumb.url}}" alt="Image placeholder" class="img-fluid mb-4">
            </div>
            <div class="desc align-self-md-center">
              <h3>@{{blog.author.user.username}}</h3>
              <p>{{blog.author.about}}</p>
            </div>
          </div>


          <div class="pt-5 mt-5">
            <h3 class="mb-5">{{blog.comments.all.count}} Comments</h3>
            {% if blog.comments.all %}
            <ul class="comment-list">
              {% for comment in blog.comments.all %}
              <li class="comment">
                <div class="vcard bio">
                  {% thumbnail comment.author.profile_image 100x100 crop upscale as c_thumb %}
                  <img src="{{c_thumb.url}}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>@{{comment.author.user.username}}</h3>
                  <div class="meta">{{comment.created_at}}</div>
                  <p>{{comment.text|linebreaks}}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
                <!-- END comment-list -->
            {% if user.is_authenticated %}
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>
              <form action="{% url 'add_comment_to_blog' blog.author.user.username blog.slug %}" class="p-5 bg-light needs-validation" method="POST" novalidate="">
                {% csrf_token %}
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="text" id="message" cols="30" rows="10" class="form-control" required=""></textarea>
                  <div class="invalid-feedback">
                    Please write a message
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>

              </form>
            </div>
            {% endif %}
          </div>

        </div> <!-- .col-md-8 -->

        





<!-- Right Side Bar -->
{% include 'partials/_sidebar.html' %}
<!-- End Right Side Bar -->

      </div> <!-- .row -->
    </div> <!-- .conteiner -->
  </section> <!-- .section -->
{% endblock content %}