{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block title %} HOME {% endblock title %}

{% block content %}

<div class="hero-wrap" style="background-image: url('https://images.unsplash.com/photo-1566914718833-5455b32368f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="#">Home</a></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Home</h1>

            <!-- Notifications -->
            {% include 'partials/_alerts.html' %}
            <!-- End Notifications -->

        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          {% for blog in blogs %}
          <!-- Single blog -->
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              {% thumbnail blog.image 700x400 crop upscale as thumb %}
              <img src="{{ thumb.url }}" alt="" class="img-fluid">
              <!-- <a href="blog-single.html" class="block-20" style="background-image: url('images/image_5.jpg');">
              </a> -->
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="{% url 'get_user_profile' blog.author.user.username %}"><span class="icon-person"></span>{{blog.author.user.username}}</a></div>
                  <div><span class="icon-calendar"></span> {{ blog.created_at }}</div>
                  <div><span class="icon-chat"></span> {{ blog.comments.all.count }}</div>
                  <div><span class="icon-heart text-danger"></span> {{blog.likes|length}}</div>
                </div>
                <h3 class="heading mt-3"><a href="{% url 'single_blog' blog.author.user.username blog.slug %}">{{ blog.title }}</a></h3>
                <p>{{ blog.text_slug }}</p>
                <div class="meta mb-3">
                  <div><a href="#"><span class="icon-person"></span> Category: <span class="text-warning">{{ blog.category }}</span></a></div>
                </div>
                {% if blog.tags.all %}
                <div class="meta">
                  <div>
                    <div class="tagcloud">
                      <span class="icon-tag"></span> Tags:
                      {% for tag in blog.tags.all %}
                      <a href="#" class="tag-cloud-link"> {{tag.name}} </a>
                      {% endfor %}
                      
                    </div>

                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- End Single blog -->
          {% endfor %}
        {% if blogs %}
          <!-- Pagination -->
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  {% if blogs.has_previous %}
                  <li><a href="/?page={{blogs.previous_page_number}}{{query_string}}">&lt;</a></li>
                  {% endif %}
                  {% for i in blogs.paginator.page_range %}
                  {% if blogs.number == i %}
                  <li class="active"><span>{{i}}</span></li>
                  {% else %}
                  <li><a href="/?page={{i}}{{query_string}}">{{i}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if blogs.has_next %}
                  <li><a href="/?page={{blogs.next_page_number}}{{query_string}}">&gt;</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        {% else %}
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <h3>Blogs not found...</h3>
                <a class="btn btn-primary" href="/"> Returnt to the Homepage </a>
              </div>
            </div>
          </div>
        {% endif %}
          <!-- End Pagination -->
        </div> <!-- .col-md-8 -->

        <!-- Right Side Bar -->
        {% include 'partials/_sidebar.html' %}
        
        <!-- End Right Side Bar -->

      </div> <!-- .row -->
    </div> <!-- .conteiner -->
  </section> <!-- .section -->

{% endblock content %}